.controls {
  margin: 0 auto;
  max-width: 600px;
}

.controls__form {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
}

.controls__buttons {
  grid-column: 1 / 3;
}

.control__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 2rem 0;
  padding: 0;
}

@supports (display: grid) {
  .control__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 10px;
  }
}

.control__list-item {
  margin-right: 10px;
  margin-bottom: 10px;
  width: calc(33% - 10px);
}

@supports (display: grid) {
  .control__list-item {
    margin: 0;
    width: 100%;
  }
}

.control__list-item a {
  background: #ecf4fb;
  color: #068a9c;
  display: block;
  font-size: 2rem;
  padding: 15px;
}

.control__list-item .degree {
  background: #1e2020;
  color: #fff;
  display: block;
  font-family: monospace;
  font-size: 1.1rem;
  padding: 2px;
}

.control__list-item a:hover {
  background: #dde5ec;
  color: #068a9c;
  text-decoration: none;
}

.control__list-item .is-active {
  background: #068a9c;
  color: #fff;
}

.control__list-item a:hover.is-active {
  background: #06758c;
  color: #fff;
}

.controls button {
  background: #069c63;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.controls button:hover,
.controls button:focus,
.controls button:active {
  background: #05784c;
}
