/**
* Begin core styling
*/
html {
  font-size: 62.5%;
}

body {
  background: white;
  color: black;
  font: 1.8rem cambria, georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding: 5px;
}

ul,
ol,
dl,
p {
  line-height: 1.389;
  margin: 0 0 1rem 0;
}

a {
  color: #068a9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
