.e-string circle,
.a-string circle,
.d-string circle,
.g-string circle,
.b-string circle {
  display: none;
}

.e-string .is-visible,
.a-string .is-visible,
.d-string .is-visible,
.g-string .is-visible,
.b-string .is-visible {
  display: block;
}

.guitar-neck {
  margin-bottom: 10px;
  overflow-x: auto;
  width: 100vw;
}
